/* set a custom font face to match in game standard font */
@font-face {
    font-family: Libertinus Sans;
    src: url(./LibertinusSans-Regular.woff2);
}

@font-face {
    font-family: Libertinus Sans;
    font-style: italic;
    src: url(./LibertinusSans-Italic.woff2);
}

@font-face {
    font-family: Libertinus Math;
    src: url(./LibertinusMath-Regular.woff2);
}

/* set the base body tag font */
body {
  font-family: Libertinus Sans, sans-serif;
  font-size: 18px;
}

p {
  font-family: Libertinus Sans, sans-serif;
  font-size: 18px;
}

h1 {
  font-family: Libertinus Sans, sans-serif;
  font-size: 26px;
}

h2 {
  font-family: Libertinus Sans, sans-serif;
  font-size: 24px;
}

h3 {
  font-family: Libertinus Sans, sans-serif;
  font-size: 22px;
}

h4 {
  font-family: Libertinus Sans, sans-serif;
  font-size: 20px;
}

/* set the font of the side nav bar header */
.wy-side-nav-search {
  font-family: Libertinus Sans, sans-serif;
}

.pre, code, pre {
  font-size: 15px;
}

.rst-content .linenodiv pre, .rst-content div[class^="highlight"] pre, .rst-content pre.literal-block {
  font-size: 15px;
}

.rst-content span[class^="math"] {
  font-family: Libertinus Math;
  font-size: 15px;
}

/* override table width restrictions */
.wy-table-responsive table td, .wy-table-responsive table th {
    white-space: normal;
}

.wy-table-responsive {
    margin-bottom: 24px;
    max-width: 100%;
    overflow: visible;
}

/* format for custom interpretive text roles */
.unit {
    border: 1px solid #64b9b9;
    background: #8ff9db;
    font-size:80%;
    font-weight:700;
    border-radius:4px;
    padding:2px 6px;
    margin:auto 2px
}

.unit::before {
    content: "Unit: ";
}

.improvement {
    border: 1px solid #aa9f61;
    background: #f7e68b;
    font-size:80%;
    font-weight:700;
    border-radius:4px;
    padding:2px 6px;
    margin:auto 2px
}

.improvement::before {
    content: "City Improvement: ";
}

.wonder {
    border: 1px solid #a069c6;
    background: #e2b3f7;
    font-size:80%;
    font-weight:700;
    border-radius:4px;
    padding:2px 6px;
    margin:auto 2px
}

.wonder::before {
    content: "Wonder: ";
}

/* add an underline for the title-reference interpretive text role */
cite {
    text-decoration: underline;
}
